name: Jest tests

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  # Also trigger on page_build, as well as release created events
  page_build:
  release:
    types: # This configuration does not affect the page_build event above
      - created

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - name: Install modules
        run: yarn
      - name: Run lint
        run: yarn run lint
      - name: Run tests with coverage
        run: yarn test --coverage
      - name: Submit codecov results
        uses: codecov/codecov-action@v2
